<div class="container">
    <div class="panel-body" data-ng-controller="DirectTokenCtrl">
        Далее Вам необходимо ввести логин, который
        был на предыдущем шаге
        <img src="assets/img//yandex_direct/2.png" class="img-responsive"> <br>
        Нажмите кнопку "Продолжить", чтобы ввести логин и завершить процесс! <br>
        <a class="btn btn-success" href="/external_services/details/{{recievedTokenInfo.id}}">
            <span translate="APP.COMMON.ACTION.CONTINUE"></span>
        </a>
    </div>
</div>

