<md-dialog aria-label="" style="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span translate="USERACCOUNT.HR.CHANGE_PASSWORD.HEADER"></span>
                    {{account.firstname}} {{account.lastname}}, {{account.username}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div>
                <div class="row nopadding">
                    <div class="col-md-12">
                        <b>
                            <span translate="USERACCOUNT.HR.CHANGE_PASSWORD.P1"></span>
                        </b>
                        <br>
                        <span translate="USERACCOUNT.HR.CHANGE_PASSWORD.P2"></span>
                        <br><br>

                        <br><br>

                        <div ng-if="newPasswordRecieved">
                            <span translate="USERACCOUNT.HR.CHANGE_PASSWORD.NEW_PASSWORD_SECTION"></span>: <b>{{newPasswordRecieved}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">

            <md-button class="md-raised md-primary" ng-click="changePassword()" style="margin-right:20px;">
                <span translate="USERACCOUNT.HR.CHANGE_PASSWORD.CREATE_NEW_PASSWORD.BUTTON"></span>
            </md-button>
        </div>
    </form>
</md-dialog>