<section class="page-form-ele page">
    <br>

    <section class="panel panel-default">
        <div class="panel-heading">
            Цвета UI
        </div>
        <div class="panel-body text-center">

            <div class="row">
                <div class="col-md-4">
                    <input type="text" ng-model="mainColor" class="form-control">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" ng-click="setColor()">Set color</button>
                </div>
            </div>

        </div>
    </section>

    <hr>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading"> Режим отладки</div>
                <div class="panel-body text-center">

                    <div class="panel-body text-center">
                        <button ng-click="debugModeOn()" class="btn btn-danger">ON</button>
                        <button ng-click="debugModeOff()" class="btn btn-success">OFF</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


