<div style="position: fixed;  bottom: 4px;  right: 13px; z-index: 999999999999999;"
     tooltip-placement="left" tooltip="{{'ANALYTICS.WEB.COUNTERS.COUNTER.ADD_NEW' | translate}}"
     tooltip-append-to-body="true"
     ng-click="addNewWebCounter()"
>

    <md-button class="md-fab md-primary" aria-label="">
        <md-icon md-svg-src="assets/ic_add_black_24px.svg"></md-icon>
    </md-button>
</div>

<section class="page-form-ele page">
    <div class="panel-body">
        <div class="row">

            <div class="col-md-12" data-ng-repeat="staff in allWebCounters track by staff.id">
                <section class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="fa fa-bar-chart"></span>
                        <b> {{staff.name || staff.id }} </b>
                    </div>
                    <div class="panel-body">

                        <table class="{{$root.tableClasses}}">
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-if="::debugMode">
                                <td></td>
                                <td>
                                    <a href="/analytics/web/counters/allRecordsById/{{staff.id}}">
                                        <span translate="ANALYTICS.WEB.COUNTERS.COUNTER.ALL_RECORDS"></span>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td> ID</td>
                                <td>
                                    {{staff.id}}
                                </td>
                            </tr>

                            <tr ng-if="staff.name">
                                <td></td>
                                <td>
                                    {{staff.name}}
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <md-button href="/analytics/web/counters/details/{{staff.id}}">
                                        <span translate="ANALYTICS.WEB.COUNTERS.COUNTER.DETAILS"></span>
                                    </md-button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
