<md-dialog aria-label="" style="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2> {{ currentEditableSalesFunnelStatus.name }} </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style=" ">
            <div class="panel-body text-center">

                <table class="table">
                    <tr>
                        <td>
                            <span translate="APP.COMMON.OBJECT.NAME"></span>
                        </td>
                        <td>
                            <input type="text" ng-model="currentEditableSalesFunnelStatus.name" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="APP.COMMON.OBJECT.DESCRIPTION"></span>
                        </td>
                        <td>
                            <input type="text" ng-model="currentEditableSalesFunnelStatus.description" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>