<div class="card" style="    margin-top: 0; !important; border: 0; !important; overflow: visible; !important;">
    <div class="card-image">
        <span class="card-img-label" ng-if='allWidgetsData["|currentWidget|"].demo'> DEMO </span>
        <section class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <h4> {{allWidgetsData["|currentWidget|"].widgetName}} </h4>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="|currentWidget|-chart"></div>
            </div>
        </section>
    </div>
</div>