<div class="row">

    <div class="col-md-5">
        <input type="number"
               placeholder="{{'APP.DIRECTIVE.FROM_TO_SELECTOR.FROM' | translate}}"
               data-ng-model="object[fromValue]"
               ng-class="{'no-use-filter' : !object[fromUse]}"
               class="form-control">
    </div>
    <div class="col-md-2">
        -
    </div>
    <div class="col-md-5">
        <input type="number"
               placeholder="{{'APP.DIRECTIVE.FROM_TO_SELECTOR.TO' | translate}}"
               data-ng-model="object[toValue]"
               ng-class="{'no-use-filter' : !object[toUse]}"
               class="form-control">
    </div>

</div>

<style>
    .no-use-filter {
        background-color: rgba(164, 164, 164, 0.16);
    }
</style>
