<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <div class="err-inner">
                <h1>503</h1>

                <h2>
                    <span translate="APP.ERROR.SERVER.503.P0"></span>
                </h2>
            </div>
        </div>

        <div class="err-mss">
            <p>
                <span translate="APP.ERROR.SERVER.503.P1"></span>
            </p>
            <p>
                <span translate="APP.ERROR.SERVER.503.P2"></span>
            </p>
        </div>
        <div class="err-body">
            <a href="/" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-home"></span>
                <span class="space"></span>
                <span translate="APP.ERROR.SERVER.HOME"></span>
            </a>

            <a href="/login/login" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-home"></span>
                <span class="space"></span>
               Login page
            </a>
        </div>
    </div>
</div>

