<div class="main">
    <div class="container">
        <section class="call_to_action" id="resId">
            <h3>сброс пароля пользователя</h3>
            <h4>введите email аккаунта, чтобы спросить пароль в системе. На email придет инструкция</h4>

            <div class="row">
                <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    <input name="email" ng-model="email" class="form-control" type="email" autocomplete="email" >
                </div>

                <div class="col-md-4">

                </div>
            </div>

            <br>
            <a class="btn btn-primary btn-lg" ng-click="requestRestBtn()">Сбросить пароль!</a>
        </section>
    </div>
</div>