<md-dialog aria-label="" style="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span translate="DATA_SOURCE.HELP.HEADER"></span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="panel-body text-center">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="mini-col-md">
                            №
                        </th>
                        <th>
                            <span translate="DATA_SOURCE.HELP.CONTROLLER.NAME"></span>
                        </th>
                        <th>
                            <span translate="DATA_SOURCE.HELP.PARAM.NAME"></span>
                        </th>
                        <th>
                            <span translate="DATA_SOURCE.HELP.PARAM.TYPE"></span>
                        </th>
                        <th>
                            <span translate="DATA_SOURCE.HELP.RETURN.TYPE"></span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <b>
                                <span translate="DATA_SOURCE.HELP.CUSTOMERS_BY_DYNAMIC_SEGMENT_ID.NAME"></span>
                            </b>
                            <br>
                            <small>CUSTOMERS_BY_DYNAMIC_SEGMENT_ID</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td>INTEGER</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>dynamicSegmentId</td>
                        <td>INTEGER</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <b>
                                <span translate="DATA_SOURCE.HELP.CUSTOMERS_OR_LEADS_NUMBER_BY_SALES_FUNNEL_STATUS.NAME"></span>
                            </b>
                            <br>
                            <small>CUSTOMERS_OR_LEADS_NUMBER_BY_SALES_FUNNEL_STATUS</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td>INTEGER</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>salesFunnelStatusId</td>
                        <td>INTEGER</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>
                            <b>
                                <span translate=""></span>
                            </b>
                            <br>
                            <small>CUSTOMERS_OR_LEADS_NUMBER_BY_SALES_FUNNEL_STATUS_NAME</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td>INTEGER</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>salesFunnelStatusName</td>
                        <td>INTEGER</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>
                            <b>
                                <span translate="DATA_SOURCE.HELP.INSIDE_VALUE.NAME"></span>
                            </b>
                            <br>
                            <small>INSIDE_VALUE</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <span translate="DATA_SOURCE.HELP.INSIDE_VALUE.NOTE_1.NAME"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>value</td>
                        <td>
                            <span translate="DATA_SOURCE.HELP.INSIDE_VALUE.NOTE_2.NAME"></span>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>
                            <b>
                                <span translate="DATA_SOURCE.HELP.SAFE_JS_CODE_EXECUTE.NAME"></span>
                            </b>
                            <br>
                            <small>
                                <span translate="DATA_SOURCE.HELP.SAFE_JS_CODE_EXECUTE.NAME"></span>
                            </small>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <span translate="DATA_SOURCE.HELP.SAFE_JS_CODE_EXECUTE.RETURN_TYPE.NAME"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>jsCode</td>
                        <td>
                            <span translate="DATA_SOURCE.HELP.SAFE_JS_CODE_EXECUTE.RETURN_TYPE..NOTE_1.NAME"></span>
                        </td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </md-dialog-content>
    </form>
</md-dialog>
