<md-content>
    <md-dialog aria-label="">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span translate="USERACCOUNT.CREDENTIALS.CREATE.HEADER"></span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content style=" ">

                <div class="panel-body">
                    <div class="row nopadding">
                        <div class="col-md-6 nopadding">
                            <b>
                                <span translate="USERACCOUNT.CREDENTIALS.CREATE.ROLES"></span>
                                :</b> <br>
                            <span role-security-selector data-ng-model="newAuth.roles"></span>
                            <br>

                            <b>
                                <span translate="USERACCOUNT.CREDENTIALS.CREATE.EXPIRE_DATE"></span>
                            </b> <br>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown"
                                   data-target="#" href="">
                                    <span ng-if="!newAuth.expire">
                                        <span translate="USERACCOUNT.CREDENTIALS.CREATE.EXPIRE_DATE.NOT_EXPIRE"></span>
                                    </span>
                                    <span ng-if="newAuth.expire">
                                        {{ printDate(newAuth.expire) }}
                                    </span>
                                </a>
                                <ul class="dropdown-menu " style="" role="menu"
                                    aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="newAuth.expire"
                                                    data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 nopadding" ng-show="newAuth.username">
                            <b>
                                <span translate="USERACCOUNT.CREDENTIALS.CREATE.USERNAME"></span>
                            </b> <br>
                            <input disabled ng-model="newAuth.username" class="form-control"> <br>

                            <b>
                                <span translate="USERACCOUNT.CREDENTIALS.CREATE.PASSWORD"></span>
                            </b> <br>
                            <input disabled ng-model="newAuth.password" class="form-control"> <br>

                            <b>
                                <span translate="USERACCOUNT.CREDENTIALS.CREATE.TOKEN"></span>
                            </b> <br>
                            <input disabled ng-model="newAuth.token" class="form-control"> <br>
                        </div>
                    </div>
                </div>

                <div class="md-actions" layout="row">
                    <md-button class="md-raised md-primary"
                               ng-click="createHttpToken();" style="margin-right:20px;">
                        <span translate="USERACCOUNT.CREDENTIALS.CREATE.BUTTON"></span>
                    </md-button>
                </div>
            </md-dialog-content>
        </form>
    </md-dialog>
</md-content>